.header{
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid var(--Colors-Neutral-200);
    position: sticky;
    height: 64px;
    z-index: 1000;
    top: 0;
    backdrop-filter: blur(4px);
}
.itemsContainer{
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
}
.navbar{
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.link{
    margin-right: 30px;
    transition: all ease .5s;
    color:var(--Colors-white);
}
.link:last-of-type{
    margin:0
}

.link:hover{
    color: var(--Colors-Secondary-500);
}