.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding: 0 6rem;
  min-height: 100vh;
  border-left: 1px solid rgb(65, 65, 230);
  border-right: 1px solid rgb(65, 65, 230);
}

.title{
  font-size: var(--headline1-size);
  text-align: center;
  color:var(--Colors-Primary-500);
  font-weight: bold;
  text-shadow: var(--Colors-Primary-700) 1px 0 4px;
}
.subtitle{
  font-size: var(--headline2-size);
  font-weight: bold;
  margin-top: 5px;
}
.me{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.redes{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 22px;
  color:var(--Colors-Secondary-300);
  font-size: var(--button-size);
}
.redes > *{
  cursor: pointer;
}
.me button{
  background-color: rgb(15, 66, 195);
  padding: .6rem .8rem;
  border-radius: 14px;
  margin-top:22px;
  font-weight: 500;
}
.redes a:first-of-type{
  margin-right:24px;
}
.imagen{
  border-radius: 50%;

}
.aboutTitle{
  margin-top:100px;
  font-weight:500
}
.aboutSections{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: start;
  text-align: center;
  margin-top: 36px;
  height: 70vh;
}
.aboutSections div{
  width: 100%;
}
.projects{
  margin-top: 160px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects h2{
  margin-bottom: 22px;
  font-weight: 600;
}
.proyectsContainer{
  background-color: var(--Colors-Neutral-400);
  height: 100%;
  width: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(16, 16, 16);
}
@media screen and (max-width:480px){
  .main{
    padding: 0 4rem;
  }
}